body {
  background-color: #ddeedf;
}

.capitalisation:first-letter {
  text-transform: capitalize;
}

.container {
  margin: 0 auto;
}
.city {
  font-size: 40px;
  font-weight: bold;
  margin-bottom: 10px;
}
.current-temp {
  font-weight: 200px;
  font-size: 50px;
  line-height: 1;
}
.unit {
  position: relative;
  font-size: 20px;
  top: -22px;
}
.last-updated {
  margin-top: 15px;
  margin-left: 10px;
}
.temperature {
  font-size: 25px;
}
.temperature .unit {
  text-decoration: none;
}
.temperature .active {
  color: #000;
  cursor: default;
}
.temperature .active:hover {
  text-decoration: none;
}
.rain {
  font-size: 20px;
}
.emoji {
  font-size: 50px;
}
.emoji-description {
  font-size: 20px;
}
.first-main {
  text-align: center;
}
.second-main {
  text-align: center;
}
.third-main {
  text-align: left;
}
.opensource {
  text-align: center;
  margin: 10px 30px 50px 30px;
}
